* {
    padding: 0;
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, a, p, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, hr, img {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    /*background-color: gainsboro;*/
}

.iframe-page {
    height: calc(100% - 60px) !important;
}

/*顶部*/
.homePage-head{
    width: 100%;
    height: 60px;
    /*background-color: #00bfa5;*/
    background: url("../img/index/bg.png") no-repeat;
}
.homePage-head >div{

    color: #fff;
}
.homePage-head-title{
    float: left;
    height: 100%;
    width: 450px;
    font-size: 24px;

}
.homePage-head-title>img{
    float: left;
    margin: 10px 20px;
}
.homePage-head-title>span{
    line-height: 60px;
    margin-left: 10px;
}
.homePage-head-nav{
    float: right;
    height: 60px;
    /*overflow: hidden;*/
    font-size: 14px;
}
.nav-list{
    float: left;
    list-style: none;
    height: 60px;
}
.nav-list>li{
    width: 80px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    /*overflow: hidden;*/
}
.nav-list>li.active{
    background-color: #168288;
}
.nav-list>li:hover{
    background-color: #168288;
}
.nav-list>li img{
    float: left;
    margin:10px 30px 0 30px;
    display: block;
}
.nav-list>li>div{
    width: 100%;
    line-height: 30px;
    clear: both;
    margin-top: 3px;
}
.person-info{
    float: right;
    width: 160px;
    height: 60px;
    font-size: 14px;
}
.person-detail{
    float: right;
    width: 100px;
    height: 50px;
    padding-top: 10px;
}
.person-detail>span{
    display: block;
}
.person-info>img{
    float: left;
    margin: 10px;
}
.ul-second-list{
    color: #fff;
    background-color: #168288;
    display: none;
    position: relative;
}
.ul-second-list>li{
    padding: 0 10px;
    line-height: 40px;
}
.ul-second-list>li:hover{
    background-color: #39a8b6;

}
.homePage-content{
    width: 100%;
    height: calc(100% - 60px);
}
