#userManage{
	padding-top: 10px;
}
.search{
	margin-left: 15px;
}
.search span{
	font-size: 14px;
	margin-right: 4px;
}
.ipt input{
	height: 24px;
	border-radius: 3px;
}
.ipt{
	width: 120px;
	height: 26px;
	margin-right: 8px;
}
#searchBtn, #reset{
	width: 60px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
#searchBtn{
	background: #4da9bd;
	
}