html, body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
}

input[type=checkbox] {
    vertical-align: middle;
}

.table th, .table td {
    text-align: center;
    padding: 4px 8px 4px 8px;
    line-height: 18px;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
    font-weight: normal;
}

#entInfo {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    min-width: 20%;
    font-family: 微软雅黑;
}

    #entInfo th {
        text-align: right;
        min-width: 80px;
        padding: 4px;
        border-bottom: 1px solid #DDD;
    }

    #entInfo td {
        text-align: left;
        min-width: 100px;
        padding: 4px;
        border-bottom: 1px solid #DDD;
    }

#detail {
    margin-top: 5px;
}
#detail>span
{
    display:block;
    width:200px;
    text-align:center;
    margin:0 auto;
 }
    #detail a {
        cursor: pointer;
        color: #137274;
        text-decoration: underline;
    }
